<footer class="footer mb-5 mt-5" th:fragment="footerFragment" style=" background-color: #47545c; height: 75px; padding-top:25px;" >
    <div class="container" align="center" >
        <div class="row w-75" style="color: white" >
            <div class="col-sm" align="center" >
                <p>Mail:info@adventurexp.com</p>
            </div>
            <div class="col-sm" align="center">
                <p>facebook.com/adventurexp</p>
            </div>
            <div class="col-sm" align="center">
                <p>instagram.com/adventurexp</p>
            </div>
            <div class="col-sm" align="center">
                <p>CV:2233412</p>
            </div>
        </div>
    </div>
</footer>